<tr data-id="{{id}}" class="form-entry">
    <td>
    {{#definitive}}
        Definitief
    {{/definitive}}
    {{^definitive}}
        <h6>Aan te passen tot</h6>
        <span>{{formatDate dueDate 'd MMMM hh:mm' }} uur</span>
    {{/definitive}}
    </td>
    <td>

        {{contestant0}}

        {{#definitive}}
            {{formatResult prediction}}
        {{/definitive}}
        {{^definitive}}
            {{{predictionEntry prediction id 0}}} - {{{predictionEntry prediction id 1}}}
        {{/definitive}}

        {{contestant1}}
    </td>
    <td>
        <label for="joker-{{id}}">Joker </label>
        {{^definitive}}<input type="checkbox"
                              {{#joker}}checked="checked"{{/joker}}
                              name="joker-{{id}}" id="joker-{{id}}" />{{/definitive}}

        {{#definitive}}{{#joker}}♥{{/joker}}{{/definitive}}
    </td>
    <td>
        {{#definitive}}{{formatResult result}}{{/definitive}}
    </td>
    <td>{{#definitive}}Score: {{score}}{{/definitive}}</td>
    <td>
        <button data-action="save" class="form-entry__button form-entry__save-button">Save</button>
        <button data-action ="cancel" class="form-entry__button form-entry__cancel-button">Cancel</button>
    </td>
</tr>